:root {
  --bg-color: #f4f4f4;
  --text-color: #222;
  --card-bg: #fff;
  --accent: #3d13d4;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: url('https://cdn.discordapp.com/attachments/1429057501441294396/1429072199167512727/Q27Z5Op.jpg?ex=68f4ceb3&is=68f37d33&hm=82a5ffedbb450f01b2d474580e06986fc4b375ea8b128a83152871ba36684b1e&');
  background-size: cover;
  background-position: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  transition: background 0.3s, color 0.3s;
}

.sky {
  text-align: center;
  background: linear-gradient(135deg, #813407ff, #180a49ff);
  color: rgb(255, 255, 255);
  padding: 3em 1em;
}

.profile-pic {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 4px solid rgb(137, 14, 219);
  margin-bottom: 1em;
}

.about {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 2em;
  border-radius: 10px;
}

.projects  {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 2em;
  border-radius: 10px;
}

.project-card {
  background: var(--card-bg);
  background-color: rgba(0, 0, 0, 0.25);
  color: #fff;
  padding: 1em;
  border-radius: 8px;
  margin-bottom: 1em;
  border-left: 4px solid var(--accent);
}

.contact {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 2em;
  border-radius: 10px;
}

.project-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 1em;
}

main {
  width: 90%;
  max-width: 800px;
  margin: 2em auto;
}

section {
  background: var(--card-bg);
  margin-bottom: 1.5em;
  padding: 1.5em;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-left: 4px solid var(--accent);
}

h2 {
  color: #00ffff;
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.3em;
  margin-bottom: 0.8em;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 0.5em;
}

footer {
  text-align: center;
  padding: 1em;
  background: var(--card-bg);
  color: var(--accent);
}

body.light {
  --bg-color: #f4f4f4;
  --text-color: #222;
  --card-bg: #fff;
  --accent: #4e4376;
}

body.dark {
  --bg-color: #1a1a1a;
  --text-color: #ddd;
  --card-bg: #494949;
  --accent: #00ffff;
}

body.void {
  --bg-color: #05010a;
  --text-color: #e0d9ff;
  --card-bg: #0f0a1a;
  --accent: #a14eff;
}

body.forest {
  --bg-color: #0f1c11;
  --text-color: #d2e3d2;
  --card-bg: #1e3522;
  --accent: #63c76a;
}

body.dark section {
  background: var(--card-bg);
  background-color: rgba(0, 0, 0, 0.5);
  border-left: 4px solid var(--accent);
}

button {
  background: var(--card-bg);
  border: none;
  color: var(--accent);
  padding: 0.6em 1.2em;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 1em;
}

button:hover {
  cursor: pointer;
  background-color: var(--accent);
  color: #ff0000;
}